@font-face {
  font-family: "Flytrap";
  src: url("../Flytrap.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #08070e;
  color: #ec9e01;
}

/* SPLASH */
.splash {
  /* background-color: #aaa; */
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 4fr 1fr;
  column-gap: 20px;
  row-gap: 0;
  margin: 5em;
}

.splash--1 {
  color: #ec9e01;
  font-family: "Flytrap";
  font-size: 7em;
  justify-self: end;
  align-self: start;
  text-align: end;
  /* background-color: lightblue; */
}

.splash--2 {
  font-family: "Flytrap";
  color: #ec9e01;
  font-size: 1.6em;
  grid-column: 1;
  justify-self: end;
  align-self: start;
  margin-top: -3.5em;
  margin-right: 16em;
  /* background-color: orange; */
}

.splash--3 {
  font-size: 1.5em;
  grid-column: 2;
  grid-row: 1;
  margin-top: 5.3em;
  /* background-color: purple; */
  align-self: start;
  text-align: start;
}
